@using mcp.Shared.ViewModels

<table class="table table-striped">
    <thead>
        <tr>
            @if(!this.IsLocked)
            {
                <th></th>
            }
            <th>Part Name</th>
            <th>Description</th>
            <th>Link</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var part in Parts)
        {
            <tr>
                @if(!this.IsLocked)
                {
                    <td>
                        <button class="btn btn-sm btn-outline-info">
                            <span class="oi oi-pencil"></span>
                        </button>
                    </td>
                }
                <td>@part.Name</td>
                <td>@part.Description</td>
                <td><a href="@part.Link" target="_blank">@part.LinkText</a></td>
                <td>
                    @if(part.Price.HasValue)
                    {
                        <span>$</span>
                    }
                    @part.Price
                </td>
                <td>@part.QuantityPurchased/@part.Quantity</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<ProjectPartViewModel> Parts { get; set; }

    [Parameter]
    public bool IsLocked { get; set; }
}
