@page "/project/{ProjectID:int}"
@using mcp.Shared.ViewModels
@using mcp.Client.Shared
@using System.Text.Json
@using System.Text.Json.Serialization
@using mcp.Shared.WebStorage.SessionStorage
@inject HttpClient Http
@inject IJSRuntime JSRuntime

@if (ProjectViewModel == null)
{
    <div class="alert alert-info">Please wait</div>
}
else
{

    <!--modal to edit existing-->
    <AddEditProject ProjectID="ProjectID" ParentProjectID="ProjectViewModel.ParentProjectID" UserCategoryID="ProjectViewModel.UserCategoryID" VehicleID="ProjectViewModel.VehicleID" OnRefreshCallback="RefreshProject"></AddEditProject>

    <header class="alert alert-primary">
        <div>
            <h1 class="d-inline-block">
                <NavLink href="/garage" Match="NavLinkMatch.All">Garage</NavLink>
                <span> > </span>
                <NavLink href="@ProjectViewModel?.VehicleLink" Match="NavLinkMatch.All">@ProjectViewModel?.VehicleName</NavLink>
                @if (IsSubProject)
                {
                    <span> > </span>
                    <NavLink href="@ProjectViewModel.ParentProjectLink" Match="NavLinkMatch.All">@ProjectViewModel.ParentProjectName</NavLink>
                }
                <span> > </span>
                <span>@ProjectViewModel.Name</span>
            </h1>
            <div class="d-inline-block ml-4 float-right">
                @if (ProjectViewModel.UserCategory != null)
                {
                    <span class="badge badge-primary badge-pill mr-2"><span class="">@ProjectViewModel.UserCategory</span></span>
                }
                <button class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modalProject">
                    <span class="oi oi-cog"></span>
                </button>
            </div>
        </div>
        <hr>
        <p>
            @if (IsSubProject)
            {
                <span class="badge badge-primary badge-pill mr-2"><span class="">Sub-Project of @ProjectViewModel.ParentProjectName</span></span>
            }

            @if (ProjectViewModel.Description?.Length > 0)
            {
                <span>@ProjectViewModel.Description</span>
            }
            else
            {
                <span><em>No description available</em></span>
            }
        </p>

    </header>



    @if (!IsTipDismissed)
    {
        <div class="alert alert-light shadow-sm">
            <div class="d-inline-block mr-1">
                <span>Tap the</span>
                <button class="btn btn-sm btn-link" type="button"><span class="oi oi-resize-height"></span></button>
                <span>icons to expand the different sections</span>
            </div>

            <button class="btn btn-sm btn-outline-info" @onclick="async () => { await ToggleSectionAsync(); }">Dismiss</button>

        </div>
    }


    <div class="mb-4">
        @if (ProjectViewModel.TargetCost.HasValue)
        {
            <div class="mb-2">
                <h3>
                    <span class="d-inline-block">Budget</span>
                    <span class="d-inline-block float-right small">
                        <span class="@(ProjectViewModel.TotalCostSpent > ProjectViewModel.TargetCost ? "text-danger" : "")">
                            <span>$</span><span>@ProjectViewModel.TotalCostSpent</span>
                        </span>
                        <span>spent of</span>
                        <span>$</span><span>@ProjectViewModel.TargetCost.Value</span>
                    </span>
                </h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @ProjectViewModel.TotalPercentSpentString" aria-valuenow="25" aria-valuemin="0" aria-valuemax="@ProjectViewModel.TargetCost.Value">
                        <span>@ProjectViewModel.TotalPercentSpentString</span>
                    </div>
                </div>
            </div>
        }
        <div>
            <h3>
                <span class="d-inline-block">Progress</span>
            </h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <!--related-->
        <section class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h2>
                        <button id="toggleRelated" class="btn btn-sm btn-link" type="button" data-toggle="collapse" data-target="#cardRelated" aria-expanded="false" aria-controls="cardRelated" @onclick='async () => { await ToggleSectionAsync(); }'>
                            <span class="oi oi-resize-height"></span>
                        </button>
                        <span>Related Projects</span>
                    </h2>
                </div>
                <div id="cardRelated" class="card-body collapse hide">
                    <div class="row">
                        <!--dependencies-->
                        @if (!IsSubProject)
                        {
                            <section class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Project Dependencies</h3>
                                        @if (ProjectViewModel.Dependencies != null && ProjectViewModel.Dependencies.Count > 0)
                                        {
                                            <div>
                                                <p>The following projects must be completed before this project can be completed:</p>
                                                <div>
                                                    <ProjectsList Projects="ProjectViewModel.Dependencies"></ProjectsList>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="alert alert-success" role="alert">
                                                This project can be completed on its own with no dependencies.
                                            </div>
                                        }
                                    </div>
                                </div>
                            </section>
                        }

                        <!--blocked-->
                        @if (!IsSubProject)
                        {
                            <section class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Blocked Projects</h3>
                                        @if (ProjectViewModel.BlockedProjects != null && ProjectViewModel.BlockedProjects.Count > 0)
                                        {
                                            <div>
                                                <p>The following projects can't be completed until this project is completed:</p>
                                                <div>
                                                    <ProjectsList Projects="ProjectViewModel.BlockedProjects"></ProjectsList>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="alert alert-success" role="alert">
                                                This project isn't blocking any other projects.
                                            </div>
                                        }
                                    </div>
                                </div>
                            </section>
                        }

                        <!--sub-projects-->
                        @if (!IsSubProject)
                        {
                            <section class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card mb-2">

                                    <div class="card-body">
                                        <h3 class="card-title">
                                            <span>Sub-Projects</span>
                                            <button class="btn btn-primary btn-sm ml-2" data-target="#modalProject" data-toggle="modal">
                                                <span class="oi oi-plus"></span>
                                                <span>Add</span>
                                            </button>
                                        </h3>
                                        <AddEditProject ProjectID="null" ParentProjectID="@ProjectID" UserCategoryID="@ProjectViewModel.UserCategoryID" VehicleID="@ProjectViewModel.VehicleID" OnRefreshCallback="@RefreshProject"></AddEditProject>
                                        @if (ProjectViewModel.SubProjects != null && ProjectViewModel.SubProjects.Count > 0)
                                        {
                                            <div class="mb-2">
                                                <ProjectsList Projects="ProjectViewModel.SubProjects"></ProjectsList>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="alert alert-success">No sub-projects</div>
                                        }
                                    </div>
                                </div>
                            </section>
                        }
                    </div>
                </div>
            </div>
        </section>


    </div>

    <!--notes-->
    <div class="row mb-4 d-none">
        <section class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h2 class="d-inline-block">
                        <span>Installation Notes</span>
                    </h2>
                </div>
                <div class="card-body">
                    <p>@ProjectViewModel.InstallationNotes</p>

                    <!--rich text editor mockup-->
                    <div id="editor" class="pell"></div>

                    <h3>Checklist</h3>
                    @if (ProjectViewModel.ChecklistItems == null)
                    {
                        <button class="btn btn-primary" @onclick="StartChecklist">
                            <span class="oi oi-check"></span>
                            <span>Start Checklist</span>
                        </button>
                    }
                </div>
            </div>
        </section>
    </div>

    <!--parts-->
    <div class="row rb-4">
        <section class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h2 class="d-inline-block">

                        <button id="toggleParts" class="btn btn-sm btn-link" type="button" data-toggle="collapse" data-target="#cardParts" aria-expanded="false" aria-controls="cardParts" @onclick='async () => { await ToggleSectionAsync(); }'>
                            <span class="oi oi-resize-height"></span>
                        </button>

                        <span>Parts</span>

                        <button class="btn btn-primary btn-sm ml-2 mr-2" data-target="#modalPart" data-toggle="modal">
                            <span class="oi oi-plus"></span>
                            <span>Add</span>
                        </button>

                        @if (IsSubProject)
                        {
                            <button class="btn btn-primary btn-sm ml-2 mr-2" data-target="#modalImportPart" data-toggle="modal">
                                <span class="oi oi-arrow-right"></span>
                                <span>Import Parts From Main Project</span>
                            </button>
                        }

                    </h2>
                    @if (IsSubProject)
                    {
                        <ImportParts ProjectID="@ProjectViewModel.ProjectID" ParentProjectID="@ProjectViewModel.ParentProjectID.Value" OnRefreshCallback="@RefreshProject"></ImportParts>

                    }
                    @if (ProjectViewModel.Parts != null && ProjectViewModel.Parts.Count > 0)
                    {
                        @* hiding this badge until we find a better place for it *@
                        @if (false)
                        {
                            <div class="d-inline-block float-right">
                                @if (ProjectViewModel.Parts.Any(a => a.QuantityInstalled < a.Quantity))
                                {
                                    <span class="badge badge-pill badge-primary d-inline-block">In Progress</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-success d-inline-block">Complete</span>
                                }
                            </div>
                        }

                    }
                </div>
                <div id="cardParts" class="card-body collapse hide">
                    <div>
                        <AddEditPart Part="null" ProjectID="ProjectID" OnRefreshCallback="@RefreshParts"></AddEditPart>
                    </div>

                    @if (ProjectViewModel.Parts != null && ProjectViewModel.Parts.Count > 0)
                    {
                        <div class="mb-1">
                            <h4>
                                <span class="d-inline-block">Parts Cost</span>
                                <span class="d-inline-block float-right small">
                                    <span>$</span><span>@ProjectViewModel.PartCostSpent</span>
                                    <span> spent of </span>
                                    <span class="@(ProjectViewModel.PartCostAllocated > ProjectViewModel.TargetCost ? "text-danger" : "")">
                                        <span>$</span><span>@ProjectViewModel.PartCostAllocated</span>
                                    </span>
                                </span>
                            </h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @ProjectViewModel.PartPercentSpentString" aria-valuenow="@ProjectViewModel.PartCostSpent" aria-valuemin="0" aria-valuemax="@ProjectViewModel.PartCostAllocated">
                                    <span>@ProjectViewModel.PartPercentSpentString</span>
                                </div>
                            </div>
                        </div>


                        <div>
                            <ProjectPartsTable Parts="@ProjectViewModel.Parts" IsLocked="IsPartsLocked" OnRefreshCallback="@RefreshParts"></ProjectPartsTable>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info" role="alert">
                            No parts to your project :(
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>


}


@code {


    [Parameter]
    public int ProjectID { get; set; }

    private ProjectViewModel ProjectViewModel;
    private bool IsSubProject = false;
    private bool IsPartsLocked = true;

    private bool IsTipDismissed = false;


    protected override async Task OnInitializedAsync()
    {
        IsTipDismissed = await JSRuntime.InvokeAsync<bool>("tips.isDismissed", "expandProjectSection");
    }


    protected override async Task OnParametersSetAsync()
    {
        await RefreshProject();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await SetExpandibles();
    }

    private async Task SetExpandibles()
    {
        string jsonExpansion = await JSRuntime.InvokeAsync<string>("projectSession.getExpansionStates", this.ProjectID);
        var expansionStates = JsonSerializer.Deserialize<ProjectSectionsExpanded>(jsonExpansion);
        if (expansionStates.ProjectID == this.ProjectID)
        {
            //todo room for improvement
            if (expansionStates.IsPartsExpanded)
            {
                await JSRuntime.InvokeVoidAsync("expandCollapsible", "#cardParts");
            }
            if (expansionStates.IsRelatedExpanded)
            {
                await JSRuntime.InvokeVoidAsync("expandCollapsible", "#cardRelated");
            }
        }
    }

    private async Task RefreshProject()
    {
        ProjectViewModel = await Http.GetFromJsonAsync<ProjectViewModel>("api/project/" + ProjectID.ToString());
        if (ProjectViewModel != null && ProjectViewModel.ParentProjectID.HasValue)
        {
            IsSubProject = true;
        }
        else
        {
            IsSubProject = false;
        }
    }

    private async Task ToggleSectionAsync()
    {
        bool isRelatedExpanded = bool.Parse(await JSRuntime.InvokeAsync<string>("isCollapsibleExpanded", "#toggleRelated"));
        bool isPartsExpanded = bool.Parse(await JSRuntime.InvokeAsync<string>("isCollapsibleExpanded", "#toggleParts"));

        var obj = new ProjectSectionsExpanded
        {
            ProjectID = this.ProjectID,
            IsRelatedExpanded = isRelatedExpanded,
            IsPartsExpanded = isPartsExpanded
        };

        string jsonString = JsonSerializer.Serialize(obj);
        await JSRuntime.InvokeVoidAsync("projectSession.setExpansionStates", this.ProjectID, jsonString);

        if (!IsTipDismissed)
        {
            IsTipDismissed = true;
            await JSRuntime.InvokeVoidAsync("tips.dismiss", "expandProjectSection");
        }
    }

    private async Task RefreshParts()
    {
        await RefreshProject();
    }

    private void StartChecklist()
    {
        ProjectViewModel.ChecklistItems = new List<ProjectChecklistItemViewModel>();
    }

}
